---
interface Props {
    class?: string;
    href: string;
    bgimage: string;
    color:string
    text: string;
}

const { class: className, bgimage, color, text, href }: Props = Astro.props;
---
<a href={href}>
    <div class:list={[
        "bg-cover bg-center bg-no-repeat rounded-2xl p-10 py-20 filter-color",
        className
    ]} style={`background-image: url(${bgimage});`}>
        <h1 class="uppercase text-center font-teko text-3xl font-bold text-white" >{text}</h1>
    </div>
</a>
<style define:vars={{ color }} >
    .filter-color {
        position: relative;
    }
    .filter-color::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color);
        opacity: 0.2; /* Adjust opacity as needed */
        z-index: 1; /* Ensure it is below the text */
        border-radius: inherit; /* Match the border radius of the parent */
    }
</style>