---
interface Props {
  class?: string;
  href: string;
  bgimage: string;
  color: string;
  text: string;
}

const { class: className, bgimage, color, text, href }: Props = Astro.props;
---

<a href={href}>
  <div
    class:list={[
      "bg-cover bg-top bg-no-repeat rounded-2xl p-10 py-25 aspect-[3/4] relative overflow-hidden",
      className,
    ]}
    style={`background-image: url(${bgimage});`}
  >
    <div class="gradient-overlay"></div>
    <h1
      class="uppercase font-teko text-lg font-bold text-white absolute -bottom-2 p-5 left-0 w-full z-1"
    >
      {text}
    </h1>
  </div>
</a>
<style define:vars={{ color }}>
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Controla la altura del degradado */
    background: linear-gradient(to top, var(--color-primary) 0%, transparent 100%);
    z-index: 1;
  }
</style>
