---
import Description from "../../components/utils/Description.astro";
import Tittle from "../../components/utils/Tittle.astro";
import Video from "../../components/utils/Video.astro";
import { capitulos } from "../../const/capitulos";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return capitulos.map((cap) => ({
    params: { artist: cap.slug },
    props: {
      ...cap,
    },
  }));
}

const { sinopsis, titulo, cap, color, image, video } = Astro.props;
---

<Layout class="grid md:grid-cols-2 md:gap-x-10 md:space-y-0">
  <Tittle class="text-center md:col-span-2 md:mb-2">
    Capitulo {cap}: {titulo}
  </Tittle>
  <div class=" flex flex-col justify-center" >
      <Video video={video} />
  </div>
  <div class=" flex flex-col justify-center" >
    <Tittle class="!text-5xl mb-2">
      Sinopsis:
    </Tittle>
    <Description>
      {sinopsis}
    </Description>
  </div>
</Layout>
