---
import CardArtist from "../../components/artist/CardArtist.astro";
import Layout from "../../layouts/Layout.astro";
import { capitulos } from "../../const/capitulos";

---

<Layout class="space-y-0">
    <ul class="grid md:grid-cols-2 gap-5" >
        {capitulos.map((artista) => (
            <li>
                <CardArtist
                    href={`/artists/${artista.slug}`}
                    bgimage={artista.image}
                    color={artista.color}
                    text={artista.titulo}
                />
            </li>
        ))}
    </ul>
</Layout>