---
import Description from "../utils/Description.astro";
import NavigatorButtons from "../utils/NavigatorButtons.astro";
import Seccion from "../utils/Seccion.astro";
import Tittle from "../utils/Tittle.astro";
import Video from "../utils/Video.astro";
---

<Seccion id="cap-1">
  <Tittle class="text-center md:text-end md:col-span-2 md:mb-2">
    Capitulo 1: Colores del orígen
  </Tittle>
  <div class="grid md:grid-cols-2 gap-5">
    <div class="h-full">
      <Video video="m64StpdmPUQ" />
    </div>
    <div class="md:flex md:flex-col md:justify-center space-y-3">
      <Description>
        <h2
          slot="title"
          class="text-center md:text-start text-primary font-teko font-bold text-xl md:text-2xl mb-2"
        >
          Descripcion:
        </h2>
        El primer episodio presenta a dos artistas trujillanos: Francisco Castillo, pintor con una profunda visión del arte, y André Sebastián, joven creador que transforma la cultura pop en un estilo propio.
      </Description>
      <div class=" flex justify-center gap-3" >
          <a href="https://youtube.com/@adncreativoart?si=ihKTHrMYMRZi1BSo">
            <button
              class="text-center md:col-span-2 md:mt-8 bg-primary text-background px-4 py-2 rounded-xl font-teko text-xl font-bold"
            >
              Mira los siguientes capítulos
            </button>
          </a>
          <a href="https://open.spotify.com/show/5zcw4VqeYoGxBn1y6XtPV1">
            <button
              class="text-center md:col-span-2 md:mt-8 bg-primary text-background px-4 py-2 rounded-xl font-teko text-xl font-bold"
            >
              Ver nuestro podcast
            </button>
          </a>
      </div>
    </div>
  </div>
</Seccion>
