---
import Description from "../utils/Description.astro";
import Seccion from "../utils/Seccion.astro";
import Tittle from "../utils/Tittle.astro";
---

<Seccion  id="cuentos">
  <Tittle> Cuentos de ADN Creativo </Tittle>
  <div class="grid lg:grid-cols-2">
    <div class="flex-col justify-center hidden md:flex">
      <Description>
        Lee los cuentos de ADN Creativo, relatos que exploran la vida y el arte
        de nuestros artistas. Cada cuento es una ventana a sus experiencias,
        inspiraciones y el impacto del arte en sus vidas. Descubre cómo la
        creatividad se manifiesta en sus historias, reflejando la esencia de ADN
        Creativo y su compromiso con la expresión artística. Estos relatos son
        un homenaje a la diversidad y la riqueza del arte en Trujillo, Perú.
      </Description>
    </div>
    <div class="mx-auto h-full">
      <div class="relative h-70 w-30 mx-auto mt-15 -mb-15">
        <a
          class="rounded-md absolute aspect-21/30 bg-white h-45 -rotate-30 border -left-20 transition-transform hover:-translate-y-3.5 hover:-translate-x-2 group duration-300"
          href="https://drive.google.com/file/d/1BgAXsDN_sNbbLyiBkfqgs-3ilX_O_A23/view?usp=sharing"
        >
          <h3
            class="text-sm text-center uppercase font-teko text-primary absolute w-full group-hover:-translate-y-3 -top-3 duration-300 opacity-0 group-hover:opacity-100 transition-all"
          >
            ¡ver archivo aqui!
          </h3>
          <div class="text-[5px] p-4 space-y-2 text-justify">
            <h1 class="text-[9px] mb-3 text-center font-medium">
              Ernesto se explica
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis explicabo nostrum, tempore fuga sunt, rem distinctio
              expedita fugit accusantium odio quod quidem temporibus libero
              maiores voluptatum amet, eligendi consequatur asperiores?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt, ipsa repudiandae recusandae doloribus quia sed!
              Accusantium minus, maiores sint pariatur quam dignissimos, soluta
              explicabo ea quasi asperiores necessitatibus ...
            </p>
          </div>
        </a>
        <a
          class="rounded-md absolute aspect-21/30 bg-white h-45 border z-1 bottom-30 transition-transform hover:-translate-y-6 duration-300 group"
          href="https://drive.google.com/file/d/1-RYZyj4paWHsOhYvtwkr8x8g_GyICpcw/view?usp=sharing"
        >
        <h3
          class="text-sm text-center uppercase font-teko text-primary absolute w-full group-hover:-translate-y-3 -top-3 duration-300 opacity-0 group-hover:opacity-100 transition-all"
        >
          ¡ver archivo aqui!
        </h3>
          <div class="text-[5px] p-4 space-y-2 text-justify">
            <h1 class="text-[9px] mb-3 text-center font-medium">Canon</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis explicabo nostrum, tempore fuga sunt, rem distinctio
              expedita fugit accusantium odio quod quidem temporibus libero
              maiores voluptatum amet, eligendi consequatur asperiores?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt, ipsa repudiandae recusandae doloribus quia sed!
              Accusantium minus, maiores sint pariatur quam dignissimos, soluta
              explicabo ea quasi asperiores necessitatibus ...
            </p>
          </div>
        </a>
        <a
          class="rounded-md absolute aspect-21/30 bg-white h-45 rotate-30 border -right-20 transition-transform hover:-translate-y-3.5 hover:translate-x-2 duration-300 group"
          href="https://drive.google.com/file/d/13mHZkTANvJ5fIFbrt3Nsji02oCexJvsC/view?usp=sharing"
        >
        <h3
          class="text-sm text-center uppercase font-teko text-primary absolute w-full group-hover:-translate-y-3 -top-3 duration-300 opacity-0 group-hover:opacity-100 transition-all"
        >
          ¡ver archivo aqui!
        </h3>
          <div class="text-[5px] p-4 space-y-2 text-justify">
            <h1 class="text-[9px] mb-3 text-center font-medium">Amanecer</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis explicabo nostrum, tempore fuga sunt, rem distinctio
              expedita fugit accusantium odio quod quidem temporibus libero
              maiores voluptatum amet, eligendi consequatur asperiores?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt, ipsa repudiandae recusandae doloribus quia sed!
              Accusantium minus, maiores sint pariatur quam dignissimos, soluta
              explicabo ea quasi asperiores necessitatibus ...
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center md:hidden">
      <Description>
        Lee los cuentos de ADN Creativo, relatos que exploran la vida y el arte
        de nuestros artistas. Cada cuento es una ventana a sus experiencias,
        inspiraciones y el impacto del arte en sus vidas. Descubre cómo la
        creatividad se manifiesta en sus historias, reflejando la esencia de ADN
        Creativo y su compromiso con la expresión artística. Estos relatos son
        un homenaje a la diversidad y la riqueza del arte en Trujillo, Perú.
      </Description>
    </div>
  </div>
</Seccion>
