---
import Seccion from "../utils/Seccion.astro";
import Tittle from "../utils/Tittle.astro";
---

<Seccion id="juego">
    <Tittle class="text-center">
        Juego interactivo
    </Tittle>
  <div style="width: 100%;">
    <div
      style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"
    >
      <iframe
        title="MUSEO DEL ADN CREATIVO"
        frameborder="0"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        src="https://view.genially.com/6852fae3efd4b157d07c86af"
        allowfullscreen="true"
        scrolling="yes"
        ></iframe>
    </div>
  </div>
</Seccion>
