---
import Seccion from "../utils/Seccion.astro";
import Tittle from "../utils/Tittle.astro";
---

<Seccion id="mapa" >
  <Tittle class="text-center"> Mapa de Murales </Tittle>
  <div class="aspect-video">
    <iframe
      title="Mapa de Murales interactivo"
      src="https://www.google.com/maps/d/embed?mid=1tjPrvNb5Ijwcv-2fw5MCImY5Udh8azQ&ehbc=2E312F"
      class="w-full h-full min-h-80"
      height="480"></iframe>
  </div>
</Seccion>
