---
import Description from "../utils/Description.astro";
import NavigatorButtons from "../utils/NavigatorButtons.astro";
import Seccion from "../utils/Seccion.astro";
import Tittle from "../utils/Tittle.astro";
import Video from "../utils/Video.astro";
---

<Seccion id="trailer" class="md:space-y-0">
  <Tittle class="text-center md:col-span-2 md:mb-2"> Tráiler </Tittle>
  <div class="grid md:grid-cols-2 gap-5 md:gap-x-5">
    <div class="h-full">
      <Video video="gFS4A5Eajzg" />
    </div>
    <div class="md:flex md:flex-col md:justify-center space-y-3">
      <Description>
        En Trujillo, artistas independientes apuestan por el arte como forma de expresión y transformación, incluso frente a las dificultades. Este documental revela cómo crean desde lo cotidiano, conectando emoción y entorno.
      </Description>
      <NavigatorButtons
        class="text-center md:col-span-2 animate-bounce mt-5"
        main={{
          name: "Mira el primer capítulo",
          path: "#cap-1",
        }}
      />
    </div>
  </div>
</Seccion>
