---
import LayoutInit from "../layouts/LayoutInit.astro";

---

<LayoutInit>
        <div transition:animate="fade"  class=" flex items-center pt-32 h-[calc(100vh-22rem)]" >
            <div class=" mx-auto text-center" >   
                <h1 class="text-8xl font-black" >404</h1>
                <p class="font-black text-3xl" >Page not found</p>
                <p class="font-black text-3xl" >Todavia en desarrollo</p>
            </div>
        </div>
</LayoutI>