---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    hola
    <div>
        <lite-youtube
            videoid="HOqma0a0IzA"
            title="ADN CREATIVO - Teaser"
            
        ></lite-youtube>
    </div>
</Layout>
<script>
    import '@justinribeiro/lite-youtube';
</script>