---
import Bars from "../assets/Bars.astro";
import logo from "../assets/logo.webp";
import { Image } from "astro:assets";
import XIcon from "../assets/XIcon.astro";
import Yt from "../assets/yt.astro";
import Tiktok from "../assets/Tiktok.astro";
import Ig from "../assets/Insta.astro";
import { routes } from "../const/routes";
---

<header
  id="navbar"
  transition:animate="none"
  class="h-16 bg-primary py-2 px-3 flex justify-between items-center z-10 fixed w-full transition-transform duration-300 -translate-y-full"
>
  <a href="/">
    <Image
      src={logo}
      alt="Logo ADN CREATIVO"
      class="h-12 w-auto mx-auto"
      width={100}
      height={100}
    />
  </a>
  <nav
    id="nav-menu"
    class="h-screen md: md:h-auto bg-primary md:static fixed top-0 -right-55 duration-200 transition-transform z-30 items-center flex"
  >
    <button
      class="menu-button text-background absolute top-2 left-2 w-10 h-10 p-2 md:hidden"
    >
      <XIcon />
    </button>
    <ul class="md:flex md:gap-0 grid gap-2 items-center md:justify-center z-30">
      {
        routes.map((route) => (
          <li>
            <a
              href={route.path}
              class="text-background font-teko md:text-lg text-2xl md:px-5 px-16 hover:underline font-bold"
            >
              {route.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <button
    class="menu-button text-background hover:text-primary w-10 h-10 p-2 pt-1.5 md:hidden hover:border-primary hover:bg-background border-background border-2 rounded-xl"
  >
    <Bars />
  </button>
  <div
    id="dark-overlay"
    class="fixed md:hidden inset-0 menu-button bg-black opacity-0 pointer-events-none transition-opacity duration-300 z-20"
  >
  </div>
</header>
<div class="fixed top-18 left-2 z-10 w-10 grid gap-2">
  <a
    class="relative -translate-x-20 red transition-transform"
    href="https://www.instagram.com/adncreativoart"
  >
    <div
      class="border-2 bg-background text-primary border-primary h-10 p-2 flex items-center hover:scale-125 transition-transform duration-300"
    >
      <Ig />
    </div>
  </a>
  <a
    class="relative -translate-x-20 red transition-transform"
    href="https://www.tiktok.com/@adncreativoart"
  >
    <div
      class="border-2 bg-background text-primary border-primary h-10 p-2 flex items-center hover:scale-125 transition-transform duration-300"
    >
      <Tiktok />
    </div>
  </a>
  <a
    class="relative -translate-x-20 red transition-transform"
    href="https://www.youtube.com/@ADNCREATIVOART"
  >
    <div
      class="border-2 bg-background text-primary border-primary h-10 p-2 flex items-center hover:scale-125 transition-transform duration-300"
    >
      <Yt />
    </div>
  </a>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll(".menu-button");
    const items = document.querySelectorAll("#nav-menu ul li a");
    const nav = document.getElementById("nav-menu");
    const overlay = document.getElementById("dark-overlay");
    const navBar = document.getElementById("navbar");
    const redes = document.querySelectorAll(".red");

    if (
      (buttons.length === 0 ||
        !nav ||
        !overlay ||
        !navBar ||
        items.length === 0,
      redes.length === 0)
    ) {
      throw new Error("Menu button or nav element not found");
    }

    function toggleMenu() {
      if (nav?.classList.contains("-translate-x-55")) {
        document.body.style.overflow = "";
        nav?.classList.remove("-translate-x-55");
        overlay?.classList.remove("opacity-50");
        overlay?.classList.add("pointer-events-none");
      } else {
        document.body.style.overflow = "hidden";
        nav?.classList.add("-translate-x-55");
        overlay?.classList.add("opacity-50");
        overlay?.classList.remove("pointer-events-none");
      }
    }

    buttons.forEach((button) => {
      button.addEventListener("click", toggleMenu);
    });

    items.forEach((item) => {
      item.addEventListener("click", () => {
        document.body.style.overflow = "";
        nav?.classList.remove("-translate-x-55");
        overlay?.classList.remove("opacity-50");
        overlay?.classList.add("pointer-events-none");
      });
    });

    // Variables para el manejo del scroll

    let lastScrollY = window.scrollY;
    let ticking = false;

    // Función para mostrar la barra de navegación
    const showNavbar = () => {
      navBar?.classList.remove("-translate-y-full");
    };

    // Función para ocultar la barra de navegación
    const hideNavbar = () => {
      navBar?.classList.add("-translate-y-full");
    };

    redes.forEach((red, i) => {
      let delay = 1200;
      if (lastScrollY > 400) {
        delay = 0
      }
      setTimeout(
        () => {
          red.classList.remove("-translate-x-20");
        },
        delay + i * 100
      );
    });

    // Inicialmente oculta el navbar
    hideNavbar();

    // Mostrar navbar después de cierto desplazamiento
    const handleScroll = () => {
      const currentScrollY = window.scrollY;

      // Si estamos al inicio de la página, ocultamos el navbar
      if (currentScrollY < 400) {
        hideNavbar();
        lastScrollY = currentScrollY;
        ticking = false;
        return;
      } else {
        showNavbar();
      }
    };

    window.addEventListener("scroll", () => {
      if (!ticking) {
        window.requestAnimationFrame(() => {
          handleScroll();
          ticking = false;
        });
        ticking = true;
      }
    });
  });
</script>
