---
interface Props {
    class?: string;
}
const { class: className }: Props = Astro.props;
---
<div class:list={[
    "p-8 bg-background-500 rounded-lg text-pretty text-xl font-teko font-medium text-primary",
    className
]}>
    <slot name="title" />
    <p class=" ">
        <slot/>
    </p>
</div>