---
interface Props {
  class?: string;
}
const { class: className } = Astro.props as Props;
---
<h1 class:list={[
    "font-teko text-primary text-4xl md:text-5xl font-bold",
    className
]} >
    <slot/>
</h1>